/* Colors */
/* 
Primary

- Salmon: 
    hsl(0, 100%, 74%), 
    #ff7a7a, 
    rgb(255, 122, 122)
- Mountain Meadow: 
    hsl(154, 59%, 51%), 
    #38cc8c, 
    rgb(56, 204, 140)
Accent
- Liberty: 
    hsl(248, 32%, 49%)
    #6055a5, 
    rgb(96, 85, 165)
Neutral
- Arsenic:
    hsl(249, 10%, 26%)
    #3e3c49, 
    rgb(62, 60, 73)
- Lavender Gray: 
    hsl(246, 25%, 77%)
    #b9b6d3, 
    rgb(185, 182, 211)
 */

:root {
  --salmon: hsl(0, 100%, 74%);
  --mountainMeadow: hsl(154, 59%, 51%);
  --liteMountainMeadow: #77e2b4;
  --liberty: hsl(248, 32%, 49%);
  --arsenic: hsl(249, 10%, 26%);
  --lavenderGray: hsl(246, 25%, 77%);
  --lite: #fefffd;
}

.salmonCol {
  color: var(--salmon);
}

body {
  /* Font - Poppins */
  /* Weights: 400, 500, 600, 700 */
  font-family: 'Poppins', sans-serif, monospace;
  font-size: 16px;
  color: var(--lite);
  /* Background Image */
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--salmon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Media Queries
 * Mobile: 375px
 * Desktop: 1440px 
*/

.topSection {
  margin: auto;
  align-items:center;
  justify-content:center;
}

.heading {
  font-weight: 600;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.4rem;
  width: 75%;
  margin: auto;
  padding-top: 6rem;
  padding-bottom: 1rem;
}

.graph {
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  width: 80%;
  margin: auto;
  padding-bottom: 4rem;
}

.offerModule {
  background-color: var(--liberty);
  height: 100px;
  width: 80%;
  margin: auto;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  margin: auto;
  align-items:center;
  justify-content:center;
  box-shadow: 0 7px 3px 1px rgba(62, 60, 73, .3);
}

.offerModule p {
  line-height: 1.8rem;
  letter-spacing: .1rem;
}

.offerModule span {
  font-weight: 700;
}

/* Form */
.freetrialForm {
  width: 80%;
  margin: auto;
  text-align: left;
  background-color: var(--lite);
  margin-top: 2rem;
  border-radius: 10px;
  box-shadow: 0 7px 3px 1px rgba(62, 60, 73, .3);
}

form {
  padding: 1.5rem;
}

input {
  width: 100%;
  padding: 20px 0;
  border: 1px solid var(--lavenderGray);
  border-radius: 10px;
  margin-bottom: 1rem;
}

input::placeholder {
  padding-left: 1rem;
  font-weight: 700;
  color: var(--arsenic)
}

/* Form Submit */

.submitBtn {
  width: 101%;
  margin-top: 1rem;
  margin-bottom: 0;
  color: var(--lite);
  background-color: var(--mountainMeadow);
  box-shadow: 0 7px 3px 1px rgba(62, 60, 73, .3);
}

.submitBtn:hover {
  cursor: pointer;
  background-color: var(--liteMountainMeadow);
}

.termsAndServices {
  color: var(--lavenderGray);
  width: 75%;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  line-height: 1.8rem;
  margin: auto;
  padding-bottom: 2rem;
}

.salmonCol {
  font-weight: bold;
  color: var(--salmon);
}

/* Form Error Effects */

.err { 
  background: var(--lite); 
  border: 1px solid #FF7979; 
}

.emsg { 
  color: #FF7979; 
  font-weight: bold; 
}


/* Attribution */

.attribution {
  padding-top: 3rem;
  font-size: 10px;
  text-align: center;
  color: var(--arsenic);
}

.attribution a {
  color: var(--liberty);
}


@media screen and (min-width: 900px) {
  .flex-container {
    display: flex;
    padding-top: 3rem;
  }
  
  .heading {
    font-weight: 700;
  }

  .flex-child {
    flex: 1;
  }  

  .flex-child:first-child {
    margin-right: 20px;
  } 

}
